Flask==2.3.3
Flask-Login==0.6.2
Flask-MySQLdb==1.0.1
python-dotenv==1.0.0
mysqlclient==2.1.1
gunicorn==21.2.0
plotly==5.18.0
pandas==2.1.1
APScheduler==3.10.4
Flask-Mail==0.9.1
Werkzeug==2.3.7
requests==2.31.0